.prompt
  form(ng-submit="login()")
    h1 ログインしてください
    input(ng-model="id" required placeholder="メールアドレス＼携帯番号")
    input(ng-model="pw" type="password" required placeholder="パスワード")

    button ログイン