.login
  form(ng-submit="login()")
    h1 EDGY
    h2 COMMENT-VIEWER
    section
      input(ng-model="id" required placeholder="EMAIL/PHONE-NUMBER" autofocus)
      input(ng-model="pw" type="password" required placeholder="PASSWORD")

      button LOGIN