ui-view

.viewer
  header
    button(ng-click="logout()") x
    form(ng-submit="view()")
      input(ng-model="$storage.channel" required placeholder="lv***********")
    button(ng-click="toggle()") o

  .comment(ng-show="$storage.open && handshaked")
    form(ng-submit="comment()")
      label
        input(ng-model="$storage.anonymity" type="checkbox")
        img(ng-src="http://res.nimg.jp/img/user/thumb/blank.jpg")
      input(ng-model="text" required)
      button コメント

  pre.error(ng-show="error") {{error}}

  main(ng-show="handshaked")
    section(ng-hide="comments.length")
      figcaption コメントがない模様

    div(ng-repeat="comment in comments")
      section(ng-show="comment.type=='myself'")
        figure(
          fetch-nickname="comment.attr.user_id"
          title="{{nickname}}"
        )
          img(ng-src="{{comment.usericon}}" err-src="{{blank}}")
          h2 {{nickname}}
        figcaption
          pre(jsfxr="comment.text" jsfxr-disabled="now()-10 > comment.attr.date")

          footer
            h3 {{comment.attr.no}}
            pre(time-ago="comment.attr.date")
        footer
      section(ng-show="comment.type=='anonymous'")
        footer
        figcaption
          pre(jsfxr="comment.text" jsfxr-disabled="now()-10 > comment.attr.date")

          footer
            h3 {{comment.attr.no}}
            pre(time-ago="comment.attr.date")
        figure(
          fetch-nickname="comment.attr.user_id"
          title="{{nickname}}"
        )
          img(ng-src="{{comment.usericon}}" err-src="{{blank}}")
          h2 {{nickname}}
      section(ng-class="{owner:comment.type=='owner',command:comment.type=='command'}" ng-show="comment.type=='command' || comment.type=='owner'")
        figcaption
          pre(jsfxr="comment.text" jsfxr-disabled="now()-10 > comment.attr.date")

          footer
            h3 {{comment.attr.no}}
            pre(time-ago="comment.attr.date")