doctype
html(lang="en")
  head
    meta(charset="UTF-8")
    title Document

    script(src="pkgs.js")
    script.
      if(process.env.NODE_ENV==='production'){
        require(process.env.PUBLIC+'/index.js');
      }
      else{
        require('coffee-script/register');
        require(process.env.PUBLIC+'/index.coffee');
      }

    link(href="http://static.edgy.black/misaki_gothic.css" rel="stylesheet")
    link(href="http://static.edgy.black/pixel_mplus10.css" rel="stylesheet")
    link(href="index.css" rel="stylesheet")

  body(ng-app="nicolive")
    form(ng-submit="view()")
      input(ng-model="$storage.channel" autofocus placeholder="lv***********")
      pre(ng-show="error") {{error}}
    
    main
      section(ng-repeat="chat in chats")
        figcaption
          h2 {{chat.attr.no}}.{{chat.attr.name || chat.attr.user_id}}
          pre(jsfxr="chat.body" jsfxr-disabled="now()-10 > chat.attr.date")

          footer
            pre(time-ago="chat.attr.date")
            //- pre(ng-hide="process.env.NODE_ENV==='production'") {{chat.attr|json}}
        //- figure
          img(jaggy)
