doctype
html(ng-app="nicolive" lang="en")
  head
    meta(charset="UTF-8")
    title(ng-bind="title")

    base(href="/")
    script(src="pkgs.js")
    script
      :coffee
        path= require 'path'

        require path.join process.env.APP,'node_modules','coffee-script','register'
        require path.join process.env.PUBLIC,'index.coffee'

    link(href="http://static.edgy.black/bmrizer.css" rel="stylesheet")
    link(href="http://static.edgy.black/misaki_gothic.css" rel="stylesheet")
    link(href="http://static.edgy.black/pixel_mplus10.css" rel="stylesheet")
    link(href="index.css" rel="stylesheet")

  body(ui-view)